#header {
  display: flex;
  flex-direction: column;
  background: url(../img/header/bg.jpg) no-repeat center top / cover;
  height: 100vh;

  .menu {

    height: 50px;
    display: flex;
    background-color: rgba($color: #212121, $alpha: 0.9);
    border-bottom: 1px solid rgba($color: #ffffff, $alpha: 0.25);

    .logo {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 200px;
      box-sizing: border-box;
      border-right: 1px solid rgba($color: #ffffff, $alpha: 0.25);
      .logo-item {
        font-family: "Poppins", sans-serif;
        color: #ffffff;
        font-size: 2em;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: -1.5px;
      }
    }

    .menu-list {
      display: flex;
      align-items: center;
      flex-grow: 1;
      width: 500px;
      padding: 0 30px 0 30px;
      box-sizing: border-box;
      border-right: 1px solid rgba($color: #ffffff, $alpha: 0.25);

      .menu-item {
        padding: 10px;
        font-family: "Roboto", sans-serif;
        color: #ffffff;
        font-size: 1em;
      }
    }

    .set-of-social-buttons {
      display: flex;
      justify-content: space-around; 
      align-items: center;
      width: 250px;
      padding: 10px;
      box-sizing: border-box;
      border-right: 1px solid rgba($color: #ffffff, $alpha: 0.25);

      .social-button-item {
        display: flex;
        align-items: center;

      }
    }

    .shop-button {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 75px;
      box-sizing: border-box;
      border-right: 1px solid rgba($color: #ffffff, $alpha: 0.25);
    }

    .search-button {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 75px;
      box-sizing: border-box;
    }

  }

  .actual-offer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 600px;
    margin: auto;
    margin-left: 15%;

    h1 {
      font-family: "Poppins", sans-serif;
      color: #ffffff;
      font-size: 10em;
      font-weight: 700;
      text-transform: uppercase;
      text-align: center;
    }

    p {
      font-family: "Poppins", sans-serif;
      color: #ffffff;
      font-size: 1.5em;
      font-weight: 700;
      text-transform: uppercase;
      text-align: center;
      letter-spacing: 5px;
      margin-top: 20px;
    }

    .shop-now {
      margin-top: 40px;
    }
  }

}