#main {
  width: 1500px;
  margin: auto;

  .about-us {
    display: flex;
    flex-wrap: wrap;
    border-bottom: 1px solid rgba($color: #000000, $alpha: 0.25);

    .about-us-item {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 375px;
      padding: 75px 70px;
      box-sizing: border-box;
      border-right: 1px solid rgba($color: #000000, $alpha: 0.25);
      box-shadow: inset 0 0 25px rgba(12, 12, 12, 0.13);

      .about-us-item-title {
        margin-top: 30px;
        font-family: "Roboto", sans-serif;
        font-size: 1.5em;
        color: #0d2e57;
        font-weight: bold;
        text-transform: uppercase;
      }

      .about-us-item-text {
        margin-top: 25px;
        font-family: "Montserrat", sans-serif;
        font-size: 0.8em;
        line-height: 1.5;
        color: #8a8a8a;
      }

    }

    .about-us-item:last-child {
      border-right: none;
    }

  }

  .offer-of-the-month {
    display: flex;

    .offer {
      width: 50%;
      padding: 100px;
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      align-items: center;
        background-color: #f2f0f0;

      .offer-name {
        font-family: "Roboto", sans-serif;
        font-size: 1.2em;
        text-transform: uppercase;
      }

      .offer-title {
        margin-top: 35px;
        font-family: "Roboto", sans-serif;
        font-size: 2.5em;
        text-transform: uppercase;
      }

      .offer-text {
        margin-top: 50px;
        font-family: "Montserrat", sans-serif;
        font-size: 0.8em;
        line-height: 1.5;
        color: #8a8a8a;
        text-align: center;
      }

      .price {
        margin-top: 50px;
        display: flex;
        align-items: center;
        
        .new {
          margin-right: 25px;
          font-family: "Montserrat", sans-serif;
          font-size: 3em;
          font-weight: bold;
          color: #3954d9;
        }

        .old {
          margin-left: 25px;
          font-family: "Montserrat", sans-serif;
          font-size: 2em;
          //text-decoration: line-through;

          .line-through {
            width: 100%;
            position: relative;
            top: 0.5em;
            transform: rotate(5deg);
            border-bottom: 3px solid red;
          }
        }

      }

      .time-left {
        width: 420px;
        margin-top: 50px;
        display: flex;
        justify-content: space-between;

        .time-left-item {
          width: 90px;
          height: 110px;
          padding: 25px 5px;
          box-sizing: border-box;
          display: flex;
          justify-content: space-between;
          flex-direction: column;
          align-items: center;
          background-color: #ffffff;
          border-radius: 20px;

          .value {
            font-family: "Montserrat", sans-serif;
            font-size: 2em;
          }

          .value-name {
            font-family: "Montserrat", sans-serif;
            text-transform: uppercase;
          }

        }

      }

      .shop-now {
        margin-top: 50px;
      }

    }

    .image {
      width: 50%;
      background: url("../img/body/offer-of-the-month/image.jpg") center center / cover;
    }

  }

}