.regular-offers {
  display: flex;
  flex-wrap: wrap;

  .offer {
    width: 25%;
    padding: 20px 10px;
    box-sizing: border-box;
    color: #000000;

    .offer-image {
      width: 100%;
    }

    .offer-title {
      padding: 5px;
      border-bottom: 1px solid rgba($color: #000000, $alpha: 0.25);
      font-family: "Roboto", sans-serif;
      text-align: center;
      text-transform: uppercase;
    }

    .offer-price {
      padding: 5px;
      font-family: "Roboto", sans-serif;
      text-align: center;
    }

  }
}